div { 
  font-family:Arial,Helvetica,sans-serif; 
  padding: 0px; 
  margin-left:10px; 
  margin-right:10px; 
  margin-top:40px; 
  text-align: left; 
  list-style-type:upper-roman;
}
h3 {
  margin-left:0px; 
  margin-right:0px; 
}
ol {
  list-style-type:upper-alpha;
}
audio {
  width:100%;
}
sel {
  font-weight:600;
}

img {
  width:100%;
}

a:link { color: #000000; text-decoration: none }
a:active { color: #000000; text-decoration: none }
a:visited { color: #000000; text-decoration: none }
